html {
  /* Carolina blue all the way! */
  background-color: #9ABADD;
  font-size: 26px;
  font-family: "Helvetica", serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  /*font-weight: bold;*/
  text-decoration: underline;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
